.result {
    box-shadow: -5px 5px 10px rgba(0,0,0,0.1), 
                5px 0 10px rgba(0,0,0,0.1);
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    padding: 30px;
    /* height: 200px; */
    /* border: solid 1px #A6ADBA; */
    background-color: #F8F9FA;
    border-radius: 10px;
    width: 60%;
    min-width: 180px;
    max-width: 500px;
}
.result-text {
    box-sizing: content-box;
    text-align: center;
    width: 100%;
    color: #6C778D;
}
.check-mark {
    margin-top: 10px;
}