
.p-c
{
    color:rgb(82, 79, 79);
}

.button-check:hover
{
  background-color: #4FC0FF !important; 
}

.p-progressbar-determinate .p-progressbar-value {
  height: 100%;
  position: absolute;
  display: none;
  border: 0 none;
  display: block;
  align-items: unset !important;
  justify-content: unset !important; 
  overflow: visible !important;
}

.p-progressbar-determinate .p-progressbar-label {
  display: block !important;
  text-align: center;
  height: 100%;
  width: 100%;
  position: absolute;
  font-weight: bold;
}
.p-dropdown
{
  width: auto !important;
}
.dialog-input
{
  width: 25%;
  margin-left: 3%;
}