
body {
    display: block;
    margin: 8px !important;
}

/* .header-button .p-button
{
    background: #f8f9fa !important;
    border: 0;
} */

.header-button .p-c
{
    /* background: transparent; */
    color: rgb(82, 79, 79) !important;
}
.result-button .p-c
{
    /* background: transparent; */
    color: rgb(82, 79, 79) !important;
}
.upload-button .p-c
{
    /* background: transparent; */
    color: rgb(82, 79, 79) !important;
}