.progress {
  width: 100%;
}

.datatable {
  width: auto;
  margin: 10px;
}

.examination-result {
  border-radius: 2px;
  padding: .25em .5rem;
  font-weight: 700;
  letter-spacing: .3px;
}

.status-已處理 {
  background-color: #c8e6c9;
  color: #256029;
}

.status-未處理 {
  background-color: #ffd8b2;
  color: #805b36;
}

.status-待檢閱 {
  background-color: #b3e5fc;
  color: #23547b;
}