
.p-fileupload {
    margin-top: 50px;
    margin-right: auto;
    margin-left: auto;
    width: 50%;
}
.p-fileupload-content {
    height: 250px;
}
.p-fileupload-buttonbar {
    height: 70px;
}
.upload-empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}
.filepond-upload {
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}