.progressbar {
  display: inline-block;
  vertical-align: top;
  width: 30%;
  margin-bottom: 35px;
  margin-right: 50px;
  margin-left: 10px;
}

.waiting-exam {
  display: inline-block;
  vertical-align: top;
}
.progressbar-finish .p-progressbar-value {
  background: #76DB9B !important;
  
}
.progressbar-finish .p-progressbar-value .p-progressbar-label {
  color: #256029;
  font-weight: 500;
}