.progressbar {
  display: inline-block;
  vertical-align: top;
  width: 30%;
  margin-bottom: 35px;
  margin-right: 50px;
  margin-left: 10px;
}

.waiting-exam {
  display: inline-block;
  vertical-align: top;
}